@using WhoisRH.Models;
@model IEnumerable<PesquisaWhois>

@{
    ViewBag.Title = "Histórico";
    int pesquisas = Model.Count();
    int i = 0;
}

<div class="card-columns mt-3">
    @foreach (var item in Model) {
        <div class="card text-white mb-3" style="background-color: @HSLColor.MapToRainbow(i, pesquisas).ToCSS()">
            <div class="card-header text-center"><strong>@item.Dominio</strong></div>
            <div class="card-body text-center">
                @if (item.Registrado) {
                    <h6><strong>Registro: @item.DataRegistro</strong></h6>
                    <h6><strong>Ultima Alteração: @item.UltimaAlteracao</strong></h6>
                    <h6><strong>Expiração: @item.Expiracao</strong></h6>
                    <h6><strong>Servidores:</strong></h6>
                    <ul class="mb-0 pl-0">
                        @foreach (string servidor in item.NomesServidores.Split('\n')) {
                            <li style="font-size: .75rem">@servidor</li>
                        }
                    </ul>
                } else {
                    <h6 class="d-inline mt-2">Disponível,</h6>
                    <form class="d-inline" method="post" target="_blank" action="https://www.redehost.com.br/registro-de-dominio">
                        <button type="submit" class="btn btn-primary">Registre agora!</button>
                        @{ 
                            List<string> dominio = new List<string>(item.Dominio.Split('.'));
                            string nome = dominio[0];
                            dominio.RemoveAt(0);
                        }
                        <input type="hidden" name="NomeDominio" value="@nome"/>
                        <input type="hidden" name="Extensao" value="@string.Join(".", dominio)" />
                    </form>
                }
            </div>
            <div class="card-footer text-center">
                <h6 class="mt-1"><strong>Pesquisa: @item.DataPesquisa</strong></h6>
            </div>
        </div>
        {i++; }
    }
</div>
@if(Model.Count() == 0) {
    <div class="alert alert-info text-center">Nenhuma pesquisa encontrada.</div>
}